<br>
<div class="content well col-sm-offset-1 col-sm-10">
	<h4>
		<strong><strong>pTrack</strong></strong> is a service designed for small and medium businesses in mind. As a business that sells online and ships 10's packages a week (or more) you are most often spending valuable time and resources to track your packages and monitor any delays for your customer relations management.	
	</h4>
	<h4>
		The reality is that most packages usually arrive on time and only portion of them are getting delayed, therefore small-medium businesses should really care only about those packages which are being delayed. In surveys we conducted, we found that most customers are highly appreciative when they are notified by the seller on potential delays of their orders. Such a service build customer loyalty and appreciation and was the reason why we decided to build such a service.
	</h4>
	<br>
	<h4>
		<strong>pTrack</strong> is a <strong>free service</strong> that allows your business to get daily notifications on your delayed packages (you set how many days after shipping the package is considered delayed). You can then contact your customers directly and update them on the exact package status.
	</h4>
	<h4>
		you can use <strong>pTrack</strong> to monitor and alert on both outgoing and incoming packages, all you need is the tracking number.
	</h4>
	 
	<h4>
		We will be constantly improving and updating <strong>pTrack</strong> and would love to get your questions or feedback.<br>
		Pls. contact us on <a href="mailto:info@ptrack.com">info@ptrack.com</a>
	</h4>
	<br>
	<h4>
		<strong>pTrack</strong> team
	</h4>
</div>